In [1]:
import pandas as pd 
import os
from pathlib import Path
import re
import numpy as np

In [2]:
#Read the files 
# root_dir = Path("/Users/yeshimonipede/Desktop/2025_DataProject/Data_Sample/Raw")
# cleaned_path=Path("/Users/yeshimonipede/Desktop/2025_DataProject/Data_Sample/Cleaned")

root_dir = Path("/Users/yeshimonipede/Desktop/2025_DataProject/Data/Raw")
cleaned_path=Path("/Users/yeshimonipede/Desktop/2025_DataProject/Data/Cleaned")

In [3]:
#Read in raw CSVs

#daily
am_form=pd.read_csv(root_dir/"AM_Form_(Responses).csv")
pm_form=pd.read_csv(root_dir/"PM_Form_(Responses).csv")
screen_time=pd.read_csv(root_dir/"ScreenTime.csv")
activity_rc=pd.read_csv(root_dir/"Activity_RC.csv")
sleep_rc=pd.read_csv(root_dir/"Sleep_RC.csv")
vitals_rc=pd.read_csv(root_dir/"Vitals_RC.csv")
weather=pd.read_csv(root_dir/"Weather2025.csv")
day_length=pd.read_csv(root_dir/"DayLength.csv")
habits=pd.read_csv(root_dir/"Habits.csv")
med_day=pd.read_csv(root_dir/"Meditation_Day.csv")

#monthly
med_month=pd.read_csv(root_dir/"Meditation_month.csv")
media_consumed=pd.read_csv(root_dir/"Media.csv")

In [4]:
pm_form.head(25)

,Timestamp,Did you complete a workout today?,Did you complete a meditation today?,How tired do you feel physically?,How crazy was this day?,How do you feel mentally?,How high did you get today?,How fun was your day?,How well do you think you stuck to your primary intention for the day?,How satisfied to you feel with how the day went,Notes
0,5/8/2025 22:53:26,Yes,Yes,4,NaN,4,4,4,4,4.0,NaN
1,5/9/2025 23:07:50,No,No,5,NaN,2,3,3,2,3.0,NaN
2,5/11/2025 0:29:04,No,No,2,NaN,2,2,4,3,4.0,NaN
3,5/11/2025 22:52:42,Yes,Yes,4,NaN,5,3,5,5,5.0,NaN
4,5/12/2025 22:30:48,Yes,Yes,2,NaN,4,3,3,4,4.0,NaN
5,5/13/2025 22:59:30,No,Yes,3,NaN,4,2,3,3,3.0,NaN
6,5/14/2025 22:59:37,Yes,Yes,2,NaN,4,2,3,5,5.0,NaN
7,5/16/2025 0:38:59,No,Yes,2,NaN,3,1,3,4,4.0,NaN
8,5/17/2025 0:12:52,Yes,Yes,5,NaN,3,3,4,4,3.0,"Just worked on MM promo video, didn’t get to c..."
9,5/17/2025 22:54:40,Yes,No,4,NaN,4,5,4,5,5.0,NaN
10,5/19/2025 10:13:10,No,No,4,NaN,4,3,4,4,4.0,NaN
11,5/20/2025 0:21:48,Yes,Yes,5,2.0,4,4,3,4,4.0,NaN
12,5/20/2025 22:58:39,No,Yes,3,2.0,5,4,3,4,4.0,NaN
13,5/21/2025 23:48:59,Yes,No,2,3.0,3,3,4,4,3.0,NaN
14,5/22/2025 23:53:25,Yes,Yes,4,4.0,3,4,3,5,4.0,NaN
15,5/23/2025 23:03:08,Yes,Yes,5,5.0,3,4,4,4,4.0,NaN
16,5/25/2025 23:07:12,Yes,No,4,4.0,3,4,3,4,3.0,NaN
17,5/26/2025 23:35:04,No,Yes,3,4.0,4,4,5,5,5.0,NaN
18,5/27/2025 23:32:54,Yes,Yes,4,4.0,4,4,3,5,4.0,NaN
19,5/28/2025 23:46:37,Yes,No,4,4.0,4,4,4,4,4.0,NaN
20,5/30/2025 1:42:23,Yes,Yes,1,5.0,4,5,4,5,5.0,NaN
21,5/30/2025 23:49:57,No,Yes,4,3.0,3,3,3,3,4.0,NaN
22,5/31/2025 22:51:49,Yes,No,2,3.0,4,1,3,4,3.0,NaN
23,6/1/2025 23:34:41,Yes,Yes,4,3.0,4,4,4,4,5.0,NaN
24,6/2/2025 23:22:09,No,Yes,4,3.0,4,2,2,4,3.0,NaN

## Cleaning up column names

In [5]:
#Standardizing column names - AM Form
am_form.rename(columns={'How optimistic are you for the day?': 'Optimism_AM'}, inplace=True)
am_form.rename(columns={'What is your energy level for the day? ': 'Energy_AM'}, inplace=True)
am_form.rename(columns={'What is your top priority for the day?': 'Priority_AM'}, inplace=True)
am_form.rename(columns={'How does your mind feel today? ': 'Mind_AM'}, inplace=True)
am_form.rename(columns={'What day of the week is': 'DayofWeek'}, inplace=True)
am_form.rename(columns={'Do you intend to complete a workout today?': 'Workout_Intention'},inplace=True)
am_form.rename(columns={'Do you have to work today?': 'Workday'},inplace=True)
am_form.rename(columns={ 'How excited do you feel about the weather today?': 'Weather_Optimism'},inplace=True)
am_form.rename(columns={ 'How well do you predict this day will go?': 'How_Well_Prediction_AM'},inplace=True)
am_form.rename(columns={ 'How crazy do you predict this day to be?': 'Crazy_Prediction_AM'},inplace=True)
am_form.rename(columns={ 'Timestamp': 'Date'},inplace=True)

In [6]:
#Standardizing column names - PM Form
#PM form
pm_form.rename(columns={'Did you complete a workout today?': 'Workout_PM'}, inplace=True)
pm_form.rename(columns={'Did you complete a meditation today?': 'Meditation_PM'}, inplace=True)
pm_form.rename(columns={'How tired do you feel physically?': 'Fatigue_PM'}, inplace=True)
pm_form.rename(columns={'How crazy was this day?': 'Crazy_PM'},inplace=True)
pm_form.rename(columns={'How fun was your day?':'Fun_PM'}, inplace=True)
pm_form.rename(columns={'How do you feel mentally?': 'Mental_PM'},inplace=True)
pm_form.rename(columns={ 'How high did you get today?': 'High_PM'},inplace=True)
pm_form.rename(columns={ 'How well do you think you stuck to your primary intention for the day?': 'Intention_Satisfaction_PM'},inplace=True)
pm_form.rename(columns={ 'How satisfied to you feel with how the day went': 'Satisfied_PM'},inplace=True)
pm_form.rename(columns={ 'Timestamp': 'Date'},inplace=True)

In [7]:
#Standardizing column names - Screen time 
screen_time.rename(columns={
    'Unnamed: 0': 'Date',
    'Screen Time':'Screen_Time', 
    'Tik Tok':'TikTok', 
    'Pick ups': 'PickUps',
    'Message notifications':'Message_notifications'},
    inplace=True)

In [8]:
#Standardizing column names -Media Comsumed
media_consumed.rename(columns={
    'Unnamed: 0':'Date',
    'Music (min)': 'Music_min',
    'Audiobook (min)': 'Audiobook_min',
    'Minutes Listened to Taylor': 'Taylor_min',
    'Top Artist': 'Top_Artist',
    'How many minutes I listened to my top album': 'Top_album(min)'
    },
inplace=True)

In [9]:
pm_form.head(25)

,Date,Workout_PM,Meditation_PM,Fatigue_PM,Crazy_PM,Mental_PM,High_PM,Fun_PM,Intention_Satisfaction_PM,Satisfied_PM,Notes
0,5/8/2025 22:53:26,Yes,Yes,4,NaN,4,4,4,4,4.0,NaN
1,5/9/2025 23:07:50,No,No,5,NaN,2,3,3,2,3.0,NaN
2,5/11/2025 0:29:04,No,No,2,NaN,2,2,4,3,4.0,NaN
3,5/11/2025 22:52:42,Yes,Yes,4,NaN,5,3,5,5,5.0,NaN
4,5/12/2025 22:30:48,Yes,Yes,2,NaN,4,3,3,4,4.0,NaN
5,5/13/2025 22:59:30,No,Yes,3,NaN,4,2,3,3,3.0,NaN
6,5/14/2025 22:59:37,Yes,Yes,2,NaN,4,2,3,5,5.0,NaN
7,5/16/2025 0:38:59,No,Yes,2,NaN,3,1,3,4,4.0,NaN
8,5/17/2025 0:12:52,Yes,Yes,5,NaN,3,3,4,4,3.0,"Just worked on MM promo video, didn’t get to c..."
9,5/17/2025 22:54:40,Yes,No,4,NaN,4,5,4,5,5.0,NaN
10,5/19/2025 10:13:10,No,No,4,NaN,4,3,4,4,4.0,NaN
11,5/20/2025 0:21:48,Yes,Yes,5,2.0,4,4,3,4,4.0,NaN
12,5/20/2025 22:58:39,No,Yes,3,2.0,5,4,3,4,4.0,NaN
13,5/21/2025 23:48:59,Yes,No,2,3.0,3,3,4,4,3.0,NaN
14,5/22/2025 23:53:25,Yes,Yes,4,4.0,3,4,3,5,4.0,NaN
15,5/23/2025 23:03:08,Yes,Yes,5,5.0,3,4,4,4,4.0,NaN
16,5/25/2025 23:07:12,Yes,No,4,4.0,3,4,3,4,3.0,NaN
17,5/26/2025 23:35:04,No,Yes,3,4.0,4,4,5,5,5.0,NaN
18,5/27/2025 23:32:54,Yes,Yes,4,4.0,4,4,3,5,4.0,NaN
19,5/28/2025 23:46:37,Yes,No,4,4.0,4,4,4,4,4.0,NaN
20,5/30/2025 1:42:23,Yes,Yes,1,5.0,4,5,4,5,5.0,NaN
21,5/30/2025 23:49:57,No,Yes,4,3.0,3,3,3,3,4.0,NaN
22,5/31/2025 22:51:49,Yes,No,2,3.0,4,1,3,4,3.0,NaN
23,6/1/2025 23:34:41,Yes,Yes,4,3.0,4,4,4,4,5.0,NaN
24,6/2/2025 23:22:09,No,Yes,4,3.0,4,2,2,4,3.0,NaN

In [10]:
#Standardizing column names -Sleep RC 
sleep_rc.rename(columns={
    'Start Time':'Start_time',
    'End Time': 'Date',
    'Time Asleep(min)':'TimeAsleep_min',
    'Falling Asleep Time': 'Falling_Asleep_Time',
    'Wake-up time': 'Wake_Up_Time',
    'Sleep Time Ratio(%)': 'Sleep_Ratio',
    'Sleep Stages - Awake(min)': 'Awake(min)',
    'Sleep Stages - REM(min)': 'REM(min)',
    'Sleep Stages - Light Sleep(min)': 'Light_Sleep(min)',
    'Sleep Stages - Deep Sleep(min)': 'Deep_Sleep(min)'
    }, inplace=True)

In [11]:
sleep_rc['Date'] = pd.to_datetime(
    sleep_rc['Date'],
    format='mixed',   # <-- critical to dealing with mixed time formats 
    errors='raise'
)

assert sleep_rc['Date'].isna().sum() == 0
sleep_rc['Date'] = sleep_rc['Date'].astype('datetime64[ns]')

In [12]:
sleep_rc['Date'].apply(type).value_counts()

Date
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    325
Name: count, dtype: int64

In [13]:
# sleep_rc.loc[sleep_rc['Date'].str.contains('2025-11-23', na=False), 'Date'].head()

In [14]:
sleep_rc.tail(25)

,Start_time,Date,Falling_Asleep_Time,Wake_Up_Time,Sleep_Ratio,TimeAsleep_min,Awake(min),REM(min),Light_Sleep(min),Deep_Sleep(min)
300,2025-11-10 23:33:21,2025-11-11 08:48:21,2025-11-11 00:00:51,2025-11-11 08:35:51,87.00%,482,33,85,322,75
301,2025-11-11 23:01:46,2025-11-12 09:42:02,2025-11-11 23:09:16,2025-11-12 09:19:32,89.00%,573,38,75,393,105
302,2025-11-12 21:57:22,2025-11-13 08:49:05,2025-11-12 22:09:52,2025-11-13 08:16:35,80.00%,520,87,90,350,80
303,2025-11-13 22:35:46,2025-11-14 07:41:43,2025-11-13 22:48:16,2025-11-14 07:39:13,94.00%,511,20,59,355,97
304,2025-11-14 23:42:07,2025-11-15 07:50:24,2025-11-14 23:52:07,2025-11-15 07:42:07,92.00%,450,20,85,273,92
305,2025-11-15 23:29:21,2025-11-16 10:04:13,2025-11-15 23:44:21,2025-11-16 09:56:43,93.00%,592,21,130,383,79
306,2025-11-17 00:35:45,2025-11-17 07:33:15,2025-11-17 00:43:15,2025-11-17 07:28:15,93.00%,390,15,75,240,75
307,2025-11-17 23:39:21,2025-11-18 07:39:21,2025-11-17 23:59:21,2025-11-18 07:34:21,90.00%,430,25,95,245,90
308,2025-11-18 23:42:16,2025-11-19 08:12:06,2025-11-19 00:02:16,2025-11-19 08:07:16,92.00%,468,17,127,248,93
309,2025-11-20 00:16,2025-11-20 07:27:00,2025-11-20 00:21,2025-11-20 06:16,77.00%,333,22,88,195,50
310,2025-11-22 01:55:39,2025-11-22 09:33:09,2025-11-22 02:03:09,2025-11-22 09:23:09,93.00%,427,13,95,242,90
311,2025-11-23 01:30,2025-11-23 10:33:00,2025-11-23 02:00,2025-11-23 10:20,91.00%,493,7,130,288,75
312,2025-11-24 23:38:33,2025-11-25 07:54:35,2025-11-24 23:43:33,2025-11-25 07:53:33,93.00%,463,27,110,288,65
313,2025-11-25 23:28:55,2025-11-26 09:03:31,2025-11-25 23:49:04,2025-11-26 09:01:01,92.00%,527,25,99,338,90
314,2025-11-26 23:49:11,2025-11-27 09:27:09,2025-11-27 00:11:41,2025-11-27 09:26:41,90.00%,522,33,108,372,42
315,2025-11-27 22:44:57,2025-11-28 09:10:16,2025-11-27 23:12:27,2025-11-28 08:52:43,88.00%,553,28,105,350,98
316,2025-11-28 21:04:31,2025-11-29 08:07:01,2025-11-28 21:12:01,2025-11-29 07:52:01,76.00%,507,133,70,362,75
317,2025-11-30 00:30,2025-11-30 08:16:00,2025-11-30 00:35,2025-11-30 08:06,96.00%,449,3,88,306,55
318,2025-12-01 00:29:56,2025-12-01 08:42:17,2025-12-01 00:52:26,2025-12-01 07:47:26,81.00%,400,15,135,210,55
319,2025-12-02 00:16:37,2025-12-02 08:12:59,2025-12-02 00:21:37,2025-12-02 08:06:37,96.00%,458,7,115,278,65
320,2025-12-02 23:47:33,2025-12-03 08:37:33,2025-12-02 23:57:33,2025-12-03 08:22:33,92.00%,486,19,58,368,60
321,2025-12-03 22:25,2025-12-04 07:32:00,2025-12-03 22:30,2025-12-04 07:25,96.00%,525,10,155,300,70
322,2025-12-05 00:33:47,2025-12-05 07:36:23,2025-12-05 00:38:47,2025-12-05 07:33:53,96.00%,408,8,75,248,85
323,2025-12-05 23:06:54,2025-12-06 07:16:53,2025-12-05 23:24:24,2025-12-06 06:49:24,88.00%,430,15,60,278,92
324,2025-12-06 21:09:03,2025-12-07 07:51:23,2025-12-06 21:44:03,2025-12-07 07:26:23,81.00%,522,61,75,387,60

In [15]:
sleep_rc['Date'].isna().sum()

0

In [16]:
#Extract Falling Asleep/Waking Up Times 
type(sleep_rc['Falling_Asleep_Time'])

sleep_rc['Falling_Asleep_Time']=pd.to_datetime(sleep_rc['Falling_Asleep_Time'], errors='coerce')
sleep_rc['Wake_Up_Time']=pd.to_datetime(sleep_rc['Wake_Up_Time'], errors='coerce')

sleep_rc['Falling_Asleep_Time']=sleep_rc['Falling_Asleep_Time'].dt.strftime('%H:%M')
sleep_rc['Wake_Up_Time']=sleep_rc['Wake_Up_Time'].dt.strftime('%H:%M')

In [17]:
#Standardizing column names -vitals_rc
vitals_rc.rename(columns={
    'Avg. Heart Rate(bpm)': 'HR_avg',
    'Min. Heart Rate(bpm)': 'HR_min',
    'Max. Heart Rate(bpm)': 'HR_max',
    'Avg. Spo2(%)': 'Spo2(%)_avg',
    'Min. Spo2(%)': 'Spo2(%)_min',
    'Max. Spo2(%):': 'Spo2(%)_max',
    'Avg. HRV(ms)': 'HRV_avg',
    'Min. HRV(ms)': 'HRV_min',
    'Max. HRV(ms)': 'HRV_max'
    
    
}, inplace=True)

In [18]:
#Standardizing column names - weather
weather.rename(columns={
    'Day Length': 'Day_Length',
    'DATE': 'Date',
    'AWND': 'wind_avg',
    'PRCP': 'precipitation',
    'SNOW': 'snow', 
    'TAVG': 'temp_avg',
    'TMAX': 'temp_max',
    'TMIN': 'temp_min'
    
}, inplace=True)

In [19]:
#Standardizing column names - day_length
day_length.rename(columns={
    'Date ': 'Date',
    'Day Length' : 'day_length'
}, inplace=True)

In [20]:
#Standardizing column names - habits
habits.rename(columns={
   'Unnamed: 0': 'Date',
    'Clean 5min': 'Clean_5min',
    'workout': 'workout',
    'Consume literature': 'consume_literature'
              
}, inplace=True)

In [21]:
#Standardizing column names - meditation_day
med_day.rename(columns={
    
'Unnamed: 0': 'Date'}, inplace=True)

In [22]:
#Standardizing column names - meditation_month
med_month.columns
med_month.rename(columns={
    
'Unnamed: 0': 'Date'},
                inplace=True)

## Standardizing dates across all tables

In [23]:
dfs_dict= {
    "am_form:": am_form,
    "pm_form": pm_form,
    "screen_time": screen_time,
    "activity_rc": activity_rc,
    "sleep_rc": sleep_rc,
    "vitals_rc": vitals_rc,
    "weather": weather, 
    "day_length": day_length,
    "habits": habits, 
    "med_day": med_day, 
    "med_month": med_month,
    "media_consumed": media_consumed,
}

In [24]:
for i, df in enumerate(dfs_dict):
    print(i, type(dfs_dict))

0 <class 'dict'>
1 <class 'dict'>
2 <class 'dict'>
3 <class 'dict'>
4 <class 'dict'>
5 <class 'dict'>
6 <class 'dict'>
7 <class 'dict'>
8 <class 'dict'>
9 <class 'dict'>
10 <class 'dict'>
11 <class 'dict'>

In [25]:
sleep_rc.columns

Index(['Start_time', 'Date', 'Falling_Asleep_Time', 'Wake_Up_Time',
       'Sleep_Ratio', 'TimeAsleep_min', 'Awake(min)', 'REM(min)',
       'Light_Sleep(min)', 'Deep_Sleep(min)'],
      dtype='object')

In [26]:
sleep_rc['Date'].isna().sum()

0

# Standardize all Date columns across all dfs

In [27]:
# for i, df in dfs_dict.items():
#     # If the dataframe doesn't have a Date column yet, try to detect it
#     if 'Date' not in df.columns:
#         possible = [c for c in df.columns if "date" in c.lower()]
#         if len(possible) > 0:
#             df.rename(columns={possible[0]: 'Date'}, inplace=True)
#         else:
#             print(f"⚠️ No date column found in df[{i}]. Columns: {df.columns}")
#             continue
#     print(i, df['Date'].dtype, df['Date'].apply(type).value_counts().head())
#     # Only convert if it's not already datetime
#     if not pd.api.types.is_datetime64_any_dtype(df['Date']):
#         df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

#     # Check result
#     print(f"df[{i}] Date dtype:", df['Date'].dtype, "NaT count:", df['Date'].isna().sum())

In [28]:
# for i, df in dfs_dict.items():
#     if 'Date' not in df.columns:
#         continue

#     if not pd.api.types.is_datetime64_any_dtype(df['Date']):
#         raise ValueError(f"{i}: Date column was mutated!")

In [29]:
sleep_rc['Date'].isna().sum()

0

In [30]:
sleep_rc[sleep_rc['Date'].isna()]

Empty DataFrame
Columns: [Start_time, Date, Falling_Asleep_Time, Wake_Up_Time, Sleep_Ratio, TimeAsleep_min, Awake(min), REM(min), Light_Sleep(min), Deep_Sleep(min)]
Index: []

In [31]:
def normalize_all_dates(dfs_dict):
    for name, df in dfs_dict.items():
        if 'Date' in df.columns:
            df['Date'] = pd.to_datetime(
                df['Date'],
                format='mixed',
                errors='raise'
            ).dt.normalize()

In [32]:
normalize_all_dates(dfs_dict)

In [33]:
for name, df in dfs_dict.items():
    if 'Date' in df.columns:
        for i, date_str in enumerate(df['Date']):
            try:
                pd.to_datetime(date_str)
            except Exception as e:
                print(f"Error in dataset '{name}', row {i}: {date_str}")

In [34]:
def standardize_timeframe(df, name):
    return {
        "dataset": name,
        "min_timestamp": df['Date'].min(),
        "max_timestamp": df['Date'].max()
    }

In [35]:
summary=[]
for name, df in dfs_dict.items():
    summary.append(standardize_timeframe(df,name))
summary_df=pd.DataFrame(summary)
summary_df

           dataset              min_timestamp              max_timestamp
0         am_form:        2025-05-08 00:00:00        2025-12-08 00:00:00
1          pm_form        2025-05-08 00:00:00        2025-12-08 00:00:00
2      screen_time        2025-10-19 00:00:00        2025-12-10 00:00:00
3      activity_rc        2025-01-01 00:00:00        2025-12-07 00:00:00
4         sleep_rc        2025-01-01 00:00:00        2025-12-07 00:00:00
5        vitals_rc        2025-01-01 00:00:00        2025-12-07 00:00:00
6          weather        2025-01-01 00:00:00        2025-12-04 00:00:00
7       day_length        2025-01-01 00:00:00        2025-12-07 00:00:00
8           habits        2025-06-01 00:00:00        2025-12-10 00:00:00
9          med_day        2025-01-01 00:00:00        2025-12-31 00:00:00
10       med_month        2025-01-01 00:00:00        2025-12-01 00:00:00
11  media_consumed  2025-01-01 00:00:00+00:00  2025-12-01 00:00:00+00:00

In [36]:
for name, df in dfs_dict.items():
    if 'Date' in df.columns:
        print(f"{name}: {df['Date'].dtype}")

am_form:: datetime64[ns]
pm_form: datetime64[ns]
screen_time: datetime64[ns]
activity_rc: datetime64[ns]
sleep_rc: datetime64[ns]
vitals_rc: datetime64[ns]
weather: datetime64[ns]
day_length: datetime64[ns]
habits: datetime64[ns]
med_day: datetime64[ns]
med_month: datetime64[ns]
media_consumed: datetime64[ns, UTC]

In [37]:
import pandas as pd

for name, df in dfs_dict.items():
    if 'Date' in df.columns:
        if not pd.api.types.is_datetime64_any_dtype(df['Date']):
            # Convert to datetime, coercing errors to NaT
            df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
            print(f"Converted {name} to datetime")
        else:
            print(f"{name} already datetime")
    else:
        print(f"{name} has no 'Date' column")

am_form: already datetime
pm_form already datetime
screen_time already datetime
activity_rc already datetime
sleep_rc already datetime
vitals_rc already datetime
weather already datetime
day_length already datetime
habits already datetime
med_day already datetime
med_month already datetime
media_consumed already datetime

In [38]:
for name, df in dfs_dict.items():
    if 'Date' in df.columns:
        print(f"{name}: {df['Date'].dtype}")

am_form:: datetime64[ns]
pm_form: datetime64[ns]
screen_time: datetime64[ns]
activity_rc: datetime64[ns]
sleep_rc: datetime64[ns]
vitals_rc: datetime64[ns]
weather: datetime64[ns]
day_length: datetime64[ns]
habits: datetime64[ns]
med_day: datetime64[ns]
med_month: datetime64[ns]
media_consumed: datetime64[ns, UTC]

In [39]:
summary_df

           dataset              min_timestamp              max_timestamp
0         am_form:        2025-05-08 00:00:00        2025-12-08 00:00:00
1          pm_form        2025-05-08 00:00:00        2025-12-08 00:00:00
2      screen_time        2025-10-19 00:00:00        2025-12-10 00:00:00
3      activity_rc        2025-01-01 00:00:00        2025-12-07 00:00:00
4         sleep_rc        2025-01-01 00:00:00        2025-12-07 00:00:00
5        vitals_rc        2025-01-01 00:00:00        2025-12-07 00:00:00
6          weather        2025-01-01 00:00:00        2025-12-04 00:00:00
7       day_length        2025-01-01 00:00:00        2025-12-07 00:00:00
8           habits        2025-06-01 00:00:00        2025-12-10 00:00:00
9          med_day        2025-01-01 00:00:00        2025-12-31 00:00:00
10       med_month        2025-01-01 00:00:00        2025-12-01 00:00:00
11  media_consumed  2025-01-01 00:00:00+00:00  2025-12-01 00:00:00+00:00

## Importing 1s and 0s where necessary

In [40]:
#Converting x's to 1s and 0s in habit table
habit_cols=habits.columns.drop('Date')
habits[habit_cols]=(habits[habit_cols]=='x').astype(int)

In [41]:
#Converting x's to 1s and 0s in meditation_day

med_day['Meditation']=(med_day['Meditation']=='x').astype(int)

In [42]:
def convert_to_min(value):
    if pd.isna(value):
        return None

    valu = str(value).lower()  # handle HR, Min, etc.
    hours = 0
    minutes = 0

    # Match hours (h, hr)
    h_match = re.search(r'(\d+)\s*(h|hr)', valu)
    if h_match:
        hours = int(h_match.group(1))

    # Match minutes (m, min, mins)
    m_match = re.search(r'(\d+)\s*(m|min|mins)', valu)
    if m_match:
        minutes = int(m_match.group(1))

    return hours * 60 + minutes

In [43]:
#Converts columns in the form hours, m to being exclusively in minutes
dfs = [screen_time, media_consumed, med_month]
cols=["Screen_Time", "Audiobooks", "Minutes"]
for df in dfs:
    for col in cols:
        if col in df.columns:
            df[col + '_min'] = df[col].apply(convert_to_min)

In [44]:
screen_time["Screen_Time_min"].head()

0    238
1    581
2    269
3    228
4    186
Name: Screen_Time_min, dtype: int64

In [46]:
#Fix the timestamp for PM Form 
pm_form.head(30)

#create a mask for times before 5pm
mask=(pm_form['Date'].dt.hour<17) & (pm_form['Date'].dt.hour>3)

pm_form.loc[mask,'Date']=pm_form.loc[mask, 'Date']-pd.Timedelta(days=1)

In [47]:
sleep_rc.tail(25)

,Start_time,Date,Falling_Asleep_Time,Wake_Up_Time,Sleep_Ratio,TimeAsleep_min,Awake(min),REM(min),Light_Sleep(min),Deep_Sleep(min)
300,2025-11-10 23:33:21,2025-11-11,00:00,08:35,87.00%,482,33,85,322,75
301,2025-11-11 23:01:46,2025-11-12,23:09,09:19,89.00%,573,38,75,393,105
302,2025-11-12 21:57:22,2025-11-13,22:09,08:16,80.00%,520,87,90,350,80
303,2025-11-13 22:35:46,2025-11-14,22:48,07:39,94.00%,511,20,59,355,97
304,2025-11-14 23:42:07,2025-11-15,23:52,07:42,92.00%,450,20,85,273,92
305,2025-11-15 23:29:21,2025-11-16,23:44,09:56,93.00%,592,21,130,383,79
306,2025-11-17 00:35:45,2025-11-17,00:43,07:28,93.00%,390,15,75,240,75
307,2025-11-17 23:39:21,2025-11-18,23:59,07:34,90.00%,430,25,95,245,90
308,2025-11-18 23:42:16,2025-11-19,00:02,08:07,92.00%,468,17,127,248,93
309,2025-11-20 00:16,2025-11-20,NaN,NaN,77.00%,333,22,88,195,50
310,2025-11-22 01:55:39,2025-11-22,02:03,09:23,93.00%,427,13,95,242,90
311,2025-11-23 01:30,2025-11-23,NaN,NaN,91.00%,493,7,130,288,75
312,2025-11-24 23:38:33,2025-11-25,23:43,07:53,93.00%,463,27,110,288,65
313,2025-11-25 23:28:55,2025-11-26,23:49,09:01,92.00%,527,25,99,338,90
314,2025-11-26 23:49:11,2025-11-27,00:11,09:26,90.00%,522,33,108,372,42
315,2025-11-27 22:44:57,2025-11-28,23:12,08:52,88.00%,553,28,105,350,98
316,2025-11-28 21:04:31,2025-11-29,21:12,07:52,76.00%,507,133,70,362,75
317,2025-11-30 00:30,2025-11-30,NaN,NaN,96.00%,449,3,88,306,55
318,2025-12-01 00:29:56,2025-12-01,00:52,07:47,81.00%,400,15,135,210,55
319,2025-12-02 00:16:37,2025-12-02,00:21,08:06,96.00%,458,7,115,278,65
320,2025-12-02 23:47:33,2025-12-03,23:57,08:22,92.00%,486,19,58,368,60
321,2025-12-03 22:25,2025-12-04,NaN,NaN,96.00%,525,10,155,300,70
322,2025-12-05 00:33:47,2025-12-05,00:38,07:33,96.00%,408,8,75,248,85
323,2025-12-05 23:06:54,2025-12-06,23:24,06:49,88.00%,430,15,60,278,92
324,2025-12-06 21:09:03,2025-12-07,21:44,07:26,81.00%,522,61,75,387,60

In [ ]:
# dfs=[am_form,pm_form,screen_time,activity_rc,vitals_rc,weather,day_length,habits,med_day,media_consumed]

# for df in dfs:
#     if 'Date' in df.columns:
#         df["Date"] = pd.to_datetime(df['Date']).dt.date

In [48]:
sleep_rc.tail(25)

,Start_time,Date,Falling_Asleep_Time,Wake_Up_Time,Sleep_Ratio,TimeAsleep_min,Awake(min),REM(min),Light_Sleep(min),Deep_Sleep(min)
300,2025-11-10 23:33:21,2025-11-11,00:00,08:35,87.00%,482,33,85,322,75
301,2025-11-11 23:01:46,2025-11-12,23:09,09:19,89.00%,573,38,75,393,105
302,2025-11-12 21:57:22,2025-11-13,22:09,08:16,80.00%,520,87,90,350,80
303,2025-11-13 22:35:46,2025-11-14,22:48,07:39,94.00%,511,20,59,355,97
304,2025-11-14 23:42:07,2025-11-15,23:52,07:42,92.00%,450,20,85,273,92
305,2025-11-15 23:29:21,2025-11-16,23:44,09:56,93.00%,592,21,130,383,79
306,2025-11-17 00:35:45,2025-11-17,00:43,07:28,93.00%,390,15,75,240,75
307,2025-11-17 23:39:21,2025-11-18,23:59,07:34,90.00%,430,25,95,245,90
308,2025-11-18 23:42:16,2025-11-19,00:02,08:07,92.00%,468,17,127,248,93
309,2025-11-20 00:16,2025-11-20,NaN,NaN,77.00%,333,22,88,195,50
310,2025-11-22 01:55:39,2025-11-22,02:03,09:23,93.00%,427,13,95,242,90
311,2025-11-23 01:30,2025-11-23,NaN,NaN,91.00%,493,7,130,288,75
312,2025-11-24 23:38:33,2025-11-25,23:43,07:53,93.00%,463,27,110,288,65
313,2025-11-25 23:28:55,2025-11-26,23:49,09:01,92.00%,527,25,99,338,90
314,2025-11-26 23:49:11,2025-11-27,00:11,09:26,90.00%,522,33,108,372,42
315,2025-11-27 22:44:57,2025-11-28,23:12,08:52,88.00%,553,28,105,350,98
316,2025-11-28 21:04:31,2025-11-29,21:12,07:52,76.00%,507,133,70,362,75
317,2025-11-30 00:30,2025-11-30,NaN,NaN,96.00%,449,3,88,306,55
318,2025-12-01 00:29:56,2025-12-01,00:52,07:47,81.00%,400,15,135,210,55
319,2025-12-02 00:16:37,2025-12-02,00:21,08:06,96.00%,458,7,115,278,65
320,2025-12-02 23:47:33,2025-12-03,23:57,08:22,92.00%,486,19,58,368,60
321,2025-12-03 22:25,2025-12-04,NaN,NaN,96.00%,525,10,155,300,70
322,2025-12-05 00:33:47,2025-12-05,00:38,07:33,96.00%,408,8,75,248,85
323,2025-12-05 23:06:54,2025-12-06,23:24,06:49,88.00%,430,15,60,278,92
324,2025-12-06 21:09:03,2025-12-07,21:44,07:26,81.00%,522,61,75,387,60

In [49]:
for name, df in dfs_dict.items():
    if 'Date' in df.columns:
        print(f"{name}: {df['Date'].dtype}")

am_form:: datetime64[ns]
pm_form: datetime64[ns]
screen_time: datetime64[ns]
activity_rc: datetime64[ns]
sleep_rc: datetime64[ns]
vitals_rc: datetime64[ns]
weather: datetime64[ns]
day_length: datetime64[ns]
habits: datetime64[ns]
med_day: datetime64[ns]
med_month: datetime64[ns]
media_consumed: datetime64[ns, UTC]

## Restricting dates in some data frames

In [50]:
#I didn't track my habits from 06-29 to 08-14 so I want those rows to just be NaN

habits['Date']=pd.to_datetime(habits['Date'])

start_nan=pd.to_datetime('2025-06-29')
end_nan=pd.to_datetime('2025-08-14')

mask=(habits['Date']>= start_nan) & (habits['Date']<=end_nan)

habits.loc[mask,habit_cols]=np.nan

In [51]:
#Saving cleaned CSVs to a new folder 
am_form.to_csv(cleaned_path/"am_form_cleaned.csv", index=False)
pm_form.to_csv(cleaned_path/"pm_form_cleaned.csv", index=False)
screen_time.to_csv(cleaned_path/"screen_time_cleaned.csv", index=False)
activity_rc.to_csv(cleaned_path/"activity_rc_cleaned.csv", index=False)
sleep_rc.to_csv(cleaned_path/"sleep_rc_cleaned.csv", index=False)
vitals_rc.to_csv(cleaned_path/"vitals_rc_cleaned.csv", index=False)
weather.to_csv(cleaned_path/"weather_cleaned.csv", index=False)
day_length.to_csv(cleaned_path/"day_length_cleaned.csv", index=False)
habits.to_csv(cleaned_path/"habits_cleaned.csv", index=False)
med_day.to_csv(cleaned_path/"med_day_cleaned.csv", index=False)
med_month.to_csv(cleaned_path/"med_month_cleaned.csv", index=False)
media_consumed.to_csv(cleaned_path/"media_consumed.csv", index=False)

In [52]:
#Saving as pickle
am_form.to_pickle(cleaned_path/"am_form_cleaned.pkl")
pm_form.to_pickle(cleaned_path/"pm_form_cleaned.pkl")
screen_time.to_pickle(cleaned_path/"screen_time_cleaned.pkl")
activity_rc.to_pickle(cleaned_path/"activity_rc_cleaned.pkl")
sleep_rc.to_pickle(cleaned_path/"sleep_rc_cleaned.pkl")
vitals_rc.to_pickle(cleaned_path/"vitals_rc_cleaned.pkl")
weather.to_pickle(cleaned_path/"weather_cleaned.pkl")
day_length.to_pickle(cleaned_path/"day_length_cleaned.pkl")
habits.to_pickle(cleaned_path/"habits_cleaned.pkl")
med_day.to_pickle(cleaned_path/"med_day_cleaned.pkl")
med_month.to_pickle(cleaned_path/"med_month_cleaned.pkl")
media_consumed.to_pickle(cleaned_path/"media_consumed.pkl")

In [53]:
pm_form.head(25)

,Date,Workout_PM,Meditation_PM,Fatigue_PM,Crazy_PM,Mental_PM,High_PM,Fun_PM,Intention_Satisfaction_PM,Satisfied_PM,Notes
0,2025-05-08,Yes,Yes,4,NaN,4,4,4,4,4.0,NaN
1,2025-05-09,No,No,5,NaN,2,3,3,2,3.0,NaN
2,2025-05-11,No,No,2,NaN,2,2,4,3,4.0,NaN
3,2025-05-11,Yes,Yes,4,NaN,5,3,5,5,5.0,NaN
4,2025-05-12,Yes,Yes,2,NaN,4,3,3,4,4.0,NaN
5,2025-05-13,No,Yes,3,NaN,4,2,3,3,3.0,NaN
6,2025-05-14,Yes,Yes,2,NaN,4,2,3,5,5.0,NaN
7,2025-05-16,No,Yes,2,NaN,3,1,3,4,4.0,NaN
8,2025-05-17,Yes,Yes,5,NaN,3,3,4,4,3.0,"Just worked on MM promo video, didn’t get to c..."
9,2025-05-17,Yes,No,4,NaN,4,5,4,5,5.0,NaN
10,2025-05-19,No,No,4,NaN,4,3,4,4,4.0,NaN
11,2025-05-20,Yes,Yes,5,2.0,4,4,3,4,4.0,NaN
12,2025-05-20,No,Yes,3,2.0,5,4,3,4,4.0,NaN
13,2025-05-21,Yes,No,2,3.0,3,3,4,4,3.0,NaN
14,2025-05-22,Yes,Yes,4,4.0,3,4,3,5,4.0,NaN
15,2025-05-23,Yes,Yes,5,5.0,3,4,4,4,4.0,NaN
16,2025-05-25,Yes,No,4,4.0,3,4,3,4,3.0,NaN
17,2025-05-26,No,Yes,3,4.0,4,4,5,5,5.0,NaN
18,2025-05-27,Yes,Yes,4,4.0,4,4,3,5,4.0,NaN
19,2025-05-28,Yes,No,4,4.0,4,4,4,4,4.0,NaN
20,2025-05-30,Yes,Yes,1,5.0,4,5,4,5,5.0,NaN
21,2025-05-30,No,Yes,4,3.0,3,3,3,3,4.0,NaN
22,2025-05-31,Yes,No,2,3.0,4,1,3,4,3.0,NaN
23,2025-06-01,Yes,Yes,4,3.0,4,4,4,4,5.0,NaN
24,2025-06-02,No,Yes,4,3.0,4,2,2,4,3.0,NaN